<!DOCTYPE html>
{% load static %}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_css %}
    {% bootstrap_messages %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    {% include 'include/header.html' %}
    {% block content %}

    {% endblock content %}
</body>
</html>